// Base Typography
// =====================================================

// Common Fonts
$font-family--montserrat: 'Montserrat', Verdana, Arial, sans-serif;
$font-family--merriweather: 'Merriweather', serif;
$font-family--source-sans-pro: 'Source Sans Pro', sans-serif;

// Font Weights
$font-weight--bold: 700;
$font-weight--semi-bold: 600;
$font-weight--medium: 500;
$font-weight--light: 300;

// Headings
$headings--line-height: 1.2;
$h1--font-size: 26px;
$h2--font-size: 22px;
$h3--font-size: 18px;
$h4--font-size: 14px;
$h5--font-size: 13px;
$h6--font-size: 13px;

// Elements
$paragraph--font-size: 14px;
$strong--font-size: 14px;
$list-item-bullet--font-size: 30px;

// Plugins
$woocommerce-product-price--font-size: 24px;

